# Documentation: https://roots.io/trellis/docs/ssh-keys/
admin_user: root

# Also define sudoer_passwords in group_vars/<environment>/main.yml
users:
  - name: "{{ web_user }}"
    groups:
      - "{{ web_group }}"
    keys:
       #- "{{ lookup('file', 'c/users/frankl/.ssh/github_rsa.pub') }}"
       - https://github.com/blinkpi.keys
      # - https://github.com/blinkpi.keys
  - name: "{{ admin_user }}"
    groups:
      - sudo
    keys:
       #- "{{ lookup('file', 'c/users/frankl/.ssh/github_rsa.pub') }}"
       - https://github.com/blinkpi.keys

web_user: web
web_group: www-data
web_sudoers:
  - "/usr/sbin/service php7.0-fpm *"
