# Documentation: https://roots.io/trellis/docs/remote-server-setup/
# `wordpress_sites` options: https://roots.io/trellis/docs/wordpress-sites
# Define accompanying passwords/secrets in group_vars/production/vault.yml

#wordpress_sites:
# omp:
#    site_hosts:
#      - 104.236.233.90
#    local_path: ../site # path targeting local Bedrock site directory (relative to Ansible root)
#    repo: git@github.com:blinkpi/vagrant.git # replace with your Git repo URL
#    repo_subtree_path: site # relative path to your Bedrock/WP directory in your repo
#    branch: master
#    multisite:
#      enabled: false
#    ssl:
#      enabled: false
#      provider: letsencrypt
#    cache:
#      enabled: false
wordpress_sites:
  104.236.233.90:
    site_hosts:
      - 104.236.233.90
    local_path: ../site # path targeting local Bedrock site directory (relative to Ansible root)
    repo: git@github.com:blinkpi/vagrant.git 
    repo_subtree_path: site # relative path to your Bedrock/WP directory in your repo	
    branch: master
    # subtree_path: site # relative path to your Bedrock/WP directory in your repo (above) if it is not the root (like the roots-example-project structure)
    multisite:
      enabled: false
      subdomains: false
    ssl:
      enabled: false
      provider: self-signed
    cache:
      enabled: false
      duration: 30s
    env:
      disable_wp_cron: true
      wp_home: http://104.236.233.90
      wp_siteurl: http://104.236.233.90/wp
      wp_env: production
      db_name: example_prod
      db_user: example_dbuser
      db_password: example_dbpassword
      # Generate your keys here: https://api.wordpress.org/secret-key/1.1/salt/
      # These CANNOT contain the characters "{%" in succession
      auth_key: "generateme"
      secure_auth_key: "generateme"
      logged_in_key: "generateme"
      nonce_key: "generateme"
      auth_salt: "generateme"
      secure_auth_salt: "generateme"
      logged_in_salt: "generateme"
      nonce_salt: "generateme"
